* {
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transition: .3s;
}

body {
    margin: 0;
    padding: 0;
}

#left {
    background-image: url(https://dummyimage.com/1920x1080);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-black {
    background-color: black;
}
.bg-gray-500 {
    background-color: rgba(107, 114, 128, 1);

    .opacity-60 {
        opacity: 0.6;
    }

    .px-24 {
        padding-left: 6rem;
        padding-right: 6rem;
        .text-5xl {
            font-size: 3rem;
            line-height: 1;
        }
        .tracking-wide {
            letter-spacing: .025em;
        }
        .text-3xl {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
    }

  
    .bottom-0 {
        bottom: 0;
        right: 0;
        left: 0;
    }
}
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.z-1 {
    z-index: 1;
}

.z-0 {
    z-index: 0;
}

#right {
    background-color: #162446;
    .py-6{
        padding: 1.5rem 0;
        .w-10{
            width: 2.5rem;
            height: 2.5rem;
        }
        .border-2{
            border: 2px solid white;
        }
        .font-bold {
            font-weight: 700;
        }
        .text-lg {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
        #email{
            border-color: black;
        }
        .text-gray-400{
           color:rgb(156,163,175);
        }
        form a:hover{
            color: rgb(243,244,246);
        }
        .uppercase{
            text-transform: uppercase;
        }
        .bg-indigo-500{
            background-color: rgb(99,102,241);
            color:inherit;
            border: none;
        }
        .bg-indigo-500:hover{
            background-color: rgb(79,70,229);
        }
        button:focus{
            outline: 2px solid transparent;
            outline-offset: 2px;
        }
        .mt-16{
            margin-top: 4rem;
            img{
                cursor: pointer;
            }
        }
        .right-0{
            right: 0;
            left: 0;
        }
    }
    .z-2{
        z-index: 2;
        .my-75{
            margin: .75rem 0;
        }
    }
}


#right2{
    background-image: url(https://dummyimage.com/1920x1080);
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width:1024px) {
    #right2{
        display: none;
    }
}
@media (min-width:768px) {
    .min-vh-100 {
        .px-md-16 {
            padding-left: 4rem !important;
            padding-right: 4rem !important;
        }
    }
}
